.board {
    font-family: system-ui, sans-serif;
    position: absolute;
    left: 50%;
    bottom: 5%;
    translate: -50%;
    height: 80%;
    aspect-ratio: 1 / 1;
    background: url("../assets/board.png");
    background-size: 100% 100%;
    user-select: none;
}

.board > canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
}

.coordinate-dark, .coordinate-light {
    font-weight: 600;
}

.coordinate-light {
    fill: #739552;
}

.coordinate-dark {
    fill: #EBECD0;
}

.squares {
    position: absolute;
    width: 100%;
    height: 100%;
}

.square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    display: flex;
}

.piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-size: 100% 100%;
    cursor: grab;
    transition: left 0.5s, top 0.5s;
}

.dragging-piece {
    transition: none;
    z-index: 10000 !important;
}

.promotion-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.promotion-menu > .promote {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 30px 40px;
    border-radius: 10px;
    color: black;
    white-space: nowrap;
    background: rgba(235, 236, 208, 0.8);
}

.promote-options {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promote-options > div {
    width: 48px;
    aspect-ratio: 1 / 1;
    background-size: 100% 100%;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.promote-options > div:hover {
    background-color: rgba(235, 236, 208, 0.8);
}

.end-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.end-container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 30px 40px;
    border-radius: 10px;
    color: black;
    white-space: nowrap;
    background: rgba(235, 236, 208, 0.8);
    text-align: center;
}

.end-container > .big-text {
    font-size: 30px;
    font-weight: bold;
}

.end-container > .text {
    margin-top: 15px;
}